* {
    margin: 0;
    padding: 0;
}

/* Farver */
$blue: #1c2659;
$orange: #D27411;
$hoverorange: #DB9040;
$black: #000000;
$white: #FFFFFF;

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    grid-column: span 5;
}

